<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <asp scriptErrorSentToBrowser="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.php" />
                <add value="Default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
